@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "santoshi";
  src: url("./public/fonts/Satoshi-Variable.woff2") format("woff2");
}

* {
  font-family: santoshi;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Width for vertical scrollbar */
  height: 10px; /* Height for horizontal scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 5px;
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}
